/* Initial setup */
@import url(GenericElements.css);

/* Special Resposnive Styling */

@media only screen and (max-width: 1024px) {
    #Visions div{display: inline-block;}
    #Visions #development{position: relative;}
    #Avocations{
        align-items: center;
        flex-direction: column;
        order: -1
    }
    #Avocations :nth-child(1) { order:2; }
    #Avocations :nth-child(2) { order:1; }
    #Avocations :nth-child(3) { order:3; }  
    #Avocations div{font-size: 3em};
    section{
        padding: 3rem;
    }
}

@media only screen and (min-width: 1024px) {
    #Avocations{flex-direction: row;}
    section{
        padding: 3rem;
    }
}



:root {
    --Passionsfontsz: 2.5rem;
    --Avocationsfontsz: 2.5rem;
    --Visionsfontsz: 2.5rem;
}   

h1{
    text-decoration: underline;
}

h2{
    font-size: 2rem;
    text-shadow: 0.1rem 0.1rem 0.15rem rgb(36, 130, 98);
    letter-spacing: 0.15rem;
    text-decoration: underline;
    text-align: center;
}

ul{
    color: whitesmoke;
}

p {
    letter-spacing: .050rem;
}


#Passions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--Passionsfontsz);
    background-color: rgb(33, 33, 41);
    border:0.13rem solid whitesmoke;
}

#Passions div{
    display:inline-block;
    background-color: rgb(33, 33, 41);
    border:0.13rem solid rgb(36, 130, 98);
}

#Passions #Faith{
    margin: 0%;
}

#Passions #Inspire{
    margin-left: 15%;
}

#Passions #Learning{
    margin-left: 30%;
}

#Passions div h3{
    margin-left:3%;
}

#Passions div p{
    font-size: 0.8em;
    margin: 2% 40% 3% 5%;
}

#images{
    text-align: center;
}

#images img{

    height:auto;
    margin:5% 0 5% 0 ;
}

#Avocations{
    display: flex;
    justify-content: space-around;
    padding:3%;
    font-size: var(--Avocationsfontsz);
    background-color: rgb(33, 33, 41);
    border:0.13rem solid whitesmoke;
    text-align: center;
}


#Avocations div{
    border:0.13rem solid rgb(36, 130, 98);
    vertical-align: top;
}

#Avocations #title{
    border: none;
    -ms-transform: translateY(-5%); 
    transform: translateY(-5%);
}

#Avocations #indtitle{
    font-size: 4em;
    text-align: center;
}

#Avocations h2{
    font-size: 2em;
}

#Avocations .activites{
    font-size: 1em;
    list-style: none;
}

#Avocations .shift{
    font-size: 1.3em;
    width:10%;
    aspect-ratio: 1/1;
    /* height: auto; */
    border-radius: 50%;
    background-color: rgba(36, 130, 98, 0.5);
    border: 0.1em, solid, rgb(33, 33, 41);
    margin-bottom: 2%;
}

#Avocations .imgCaros img{
    display: flex;
    height: auto;
    vertical-align:middle;
}

#Avocations .activites .details{
    text-align: left;
    margin: 3%;
}

#Avocations .activites .details li{
    margin:3% 3% 3% 7%;
}

 #Visions{
    /* height: auto; */
    display: block;
    font-size: var(--Visionsfontsz);
}

 #Visions h1{
    font-size: 3em;
    padding-bottom: 5%;
    text-align: left;
}

 #Visions div{
    border: 0.13rem solid rgb(33, 33, 41);
    padding:2%;
    text-align: center;
}

 #Visions .headers{
    color: rgb(33, 33, 41);
    margin:2%;
}

 #Visions #teaching{
    float: left;
}

 #Visions #teaching ul{
    list-style: none;
}

 #Visions #teaching ul{
    text-align: left;
}

 #Visions #teaching ul li p{
    margin-left:10%;
}

 #Visions #school img{
    width: 60%;
    height: auto;
    margin-top: 2%;
}
 #Visions #development{
    float: right;
}

 #Visions div h3{
    margin-left: 3%;
}


