/* Initial setup */
@import url(GenericElements.css);

/* Special Resposnive Styling */


@media only screen and (min-width: 1024px) {}

@media only screen and (min-width: 1320px) {}

h1{
    text-decoration: underline;
}

h2{
    font-size: 2rem;
    text-shadow: 0.1rem 0.1rem 0.15rem rgb(36, 130, 98);
    letter-spacing: 0.15rem;
    text-decoration: underline;
    text-align: center;
}

ul{
    color: whitesmoke;
}

p {
    letter-spacing: .050rem;
}

section{
    padding: 3rem;
}
#Passions{
    background-color: rgb(33, 33, 41);
    border:0.13rem solid whitesmoke;
    text-align: left;
}

#Passions div{
    display:inline-block;
    margin:2%;
    background-color: rgb(33, 33, 41);
    border:0.13rem solid rgb(36, 130, 98);
}

#Passions #Faith{
    margin: 0%;
}

#Passions #Inspire{
    margin-left: 15%;
}

#Passions #Learning{
    margin-left: 30%;
}

#Passions div h3{
    margin-left:3%;
}

#Passions div p{
    margin: 2% 40% 3% 5%;
}

.Images{
    text-align: center;
}

.Images img{

    height:auto;
    margin:5% 0 5% 0 ;
}

#Avocations{
    background-color: rgb(33, 33, 41);
    border:0.13rem solid whitesmoke;
    text-align: center;
    
}

#Avocations div{
    display: inline-block;
    border:0.13rem solid rgb(36, 130, 98);
    vertical-align: top;
}

#Avocations #title{
    width: 30%;
    border: none;
    -ms-transform: translateY(-5%); 
    transform: translateY(-5%);
}

#Avocations #indtitle{
    font-size: 4rem;
    text-align: center;
}

#Avocations .activites{
    list-style: none;
}

#Avocations .shift{
    font-size: 1.3rem;
    width:2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: rgba(36, 130, 98, 0.5);
    margin-bottom: 2%;
    /* position: absolute; */
}

#Avocations .right{
    float: right;
}

#Avocations .left{
    float: left;
}


#Avocations .imgCaros img{
    display: flex;
    height: auto;
    vertical-align:middle;
}

#Avocations .activites .details{
    text-align: left;
    margin: 3%;
}

#Avocations .activites .details li{
    margin:3% 3% 3% 7%;
}

 #Visions{
    height: auto;
    display: block;
}

 #Visions h1{
    padding-bottom: 5%;
    text-align: left;
}

 #Visions div{
    border: 0.13rem solid rgb(33, 33, 41);
    /* display: inline-block; */
    /* width: 30%; */
    padding:2%;
    text-align: center;
}

 #Visions .headers{
    color: rgb(33, 33, 41);
    margin:2%;
}

 #Visions #teaching{
    float: left;
}

 #Visions #teaching ul{
    list-style: none;
}

 #Visions #teaching ul{
    text-align: left;
}

 #Visions #teaching ul li p{
    margin-left:10%;
}

 #Visions #school img{
    width: 80%;
    height: auto;
    margin-top: 2%;
}
 #Visions #development{
    float: right;
}

 #Visions div h3{
    margin-left: 3%;
}


