/* Initial setup */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    
}

[class*=col-]{
    width:100%;
}

:root {
    --initalsfontsz:2.5rem;
    --pagesfontsz:1rem;
    --instancefontsz:16.8px;
    --contactfontsz:1rem;
    --primarytrans:0px;
}   

::-webkit-scrollbar {
    width: 0.5vw;
    background-color: rgba(128,128,128,0.05);
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 0.5vw;
}

/* Very small devices */
@media  screen and (max-width: 600px) {
    .col-xs-1 {width: 6%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 30%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 94%;}
    .col-xs-12 {width: 100%;}
    html{
        font-size: calc(var(--instancefontsz)*0.5);
        /* width: 50%; */
    }
    
    
}

@media  screen and (min-width: 600px) {
    .col-s-1 {width: 6%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 30%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 94%;}
    .col-s-12 {width: 100%;}
    html{
        font-size: calc(var(--instancefontsz)*0.9);
    }
}

@media  screen and (min-width: 1024px) {
    .col-l-1 {width: 6%;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 30%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 94%;}
    .col-l-12 {width: 100%;}
    html{
        font-size: calc(var(--instancefontsz)*1);
    }
}

@media  screen and (min-width: 1320px) {
    .col-xl-1 {width: 6%;}
    .col-xl-2 {width: 16.66%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 30%;}
    .col-xl-5 {width: 41.66%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33%;}
    .col-xl-8 {width: 66.66%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33%;}
    .col-xl-11 {width: 94%;}
    .col-xl-12 {width: 100%;}
    .mar-xl-0 {margin: 0;}
    html{
        font-size: calc(var(--instancefontsz)*1);
    }
}

@media  screen and (min-width: 2100px) {
    html{
        font-size: calc(var(--instancefontsz)*1.5);
    }
}

@media  screen and (min-width: 3360px) {
    html{
        font-size: calc(var(--instancefontsz)*3);
    }
}

.col-o-1 {width: 6%;}
.col-o-2 {width: 16.66%;}
.col-o-3 {width: 25%;}
.col-o-4 {width: 30%;}
.col-o-5 {width: 41.66%;}
.col-o-6 {width: 50%;}
.col-o-7 {width: 58.33%;}
.col-o-8 {width: 66.66%;}
.col-o-9 {width: 75%;}
.col-o-10 {width: 83.33%;}
.col-o-11 {width: 94%;}
.col-o-12 {width: 100%;}


/* Small screens */
/* Conditional responsiveness for specific elements */
@media only screen and (max-width: 1024px) {
    /* Menu and page navigation responsive adjustments */ 
    body{
        margin-top:var(--primarytrans);
    }
    #pile{
        border:none;
        font-size: 1.1em;
    }
    .lgScreen{
        display: none;
    }
    #menu{
        position: sticky;
        z-index: 10;
        visibility: hidden;
    }
    #menu ul li a .title{
        font-size: 2.5rem;
    }
    #logo-area{
        font-size: 100%;
    }
    /* Primary content small size settings */
    #contentSct{
        width: 100%;
        left: 100rem;
    }
    #secondsct #pageconts div{
        margin: 1% 0 1% 0;
    }
    
}
/* Large Screens */
@media only screen and (min-width: 1024px) {
    /* Menu and page navigation responsive adjustments */
    #primary{
        float: right;
    }
    #pile{
        display: none;
    }
    #logo-area{
        font-size: var(--initalsfontsz);    
    }
    #secondsct #pageconts div{
        margin: 1.3%;
    }
    #menu{
        position: sticky;
        line-height: 0%;
        visibility: visible;
        float: left;  

    }
    #menu ul li a .title{
        font-size: 1.13em;
    }
    /* Primary content large size settings */
    section{
        /* padding: 3rem; */
        align-items: flex-start;    
    }
}

/* Quick posiotioning */
.pos-r,.resp {position: relative;}
.pos-a {position: absolute;}
.pos-f {position: fixed;}


html{
    width:100%;
    overflow-y: scroll;
    overflow-x: hidden;
    line-height: 1.5;
    margin-left: 50%;
    transform: translateX(-50%);
}


h1,h2,h3{
    color:whitesmoke;
    font-weight: bolder;
}


p{
    color: whitesmoke;
}



#genBan{
    border: rgb(64, 64, 125) solid 0.25rem;
    border-left:none;
    position: sticky;
    top: 0;
    z-index:100;
    background-color: rgb(49, 67, 78);
    justify-content: space-between;
    height: 3%;
    text-align: center;


}

a:hover{
    font-weight: bolder;
}


.logo{
    font-weight: bolder;
}

#logo-area{
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-basis: content;
    justify-content: center;
}

header .logo{
    max-width: 100%;
    text-align: center;
    position: relative;
    padding:1% 1% 1% 1%;
    border:0.13rem solid rgb(36, 130, 98);
    color: whitesmoke;
    z-index: 3;
}

.logo:hover{
    text-shadow:0.32rem 0.32rem 0.32rem whitesmoke
}

#name{
    font-size: 1em;
    margin:1% auto;
    color:rgb(36, 130, 98);
    text-shadow:0.2em 0.2em rgb(33, 33, 41);
    text-underline-offset: 25%;
}

#break{
    position: relative;
    z-index: 0;
}

#line{
    position: relative;
    display: block;
    height:2%;
    background-color: rgb(64, 64, 125);
    border: 0.0625rem solid rgb(33, 33, 41);
    margin: auto;
    padding: 0.0625rem;
}

#menu{
    overflow-y: scroll;
    /* position: sticky; */
    top: 3%;
    padding-top: 5%;
    height: 100vh;
    background-color: rgb(33, 33, 41);
    border: 0.125rem solid rgb(36, 130, 98);
    z-index: 10;
}
#menu ul{
    position: relative;
    color:antiquewhite;
    list-style: none;
}

#menu #pages{
    font-size: var(--pagesfontsz);
}

#menu ul li a{
    color:rgb(36, 130, 98);
    position: relative;
}

#menu ul li a .title{
    text-align: center;
    display: block;
    /* min-width: 2.5rem; */
    line-height: 2.5em;
    height: 2.5em;
}

#primary{
    height: 97%;
    top:3%;
}

body{
    background-color:rgb(49, 67, 78);
    display: inline-block;
    align-items: center;
    justify-content: center;

}


footer{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    margin: 0,auto;
    justify-content: space-between;
    align-items: center;
    /* height: 100%; */
    z-index: -1;
    background-color: rgb(33, 33, 41);

}

#footLogo{
    color: whitesmoke;
}

#social a{
    margin: 5%;
}

footer .fa{
    font-size: 2rem;
    color: rgb(36, 130, 98);
} 

footer #contact{
    font-size: var(--contactfontsz);

}

footer #contact a{
    color:rgb(36, 130, 98);

}