@import url(GenericElements.css);

:root {
    --motofontsz:7rem;
    --motorem:calc(var(--motofontsz)/7);
    --quoteSctY:0rem;
    --quoteSctfontsz:1rem;
    --statementfontsz:5rem;
    --pagecontsctfontsz:0.8rem;
}

#primary {
    text-align: center;
}

#vidintro{
    font-size:var(--statementfontsz) ;
    text-align: center;
    border:0.125rem solid whitesmoke;
}

.primtitle{
    font-size:2.5rem
}

#vidintro .primtitle{
    font-size: 1em;
    position: relative;
    margin: 15% 0 15% 0;
}

/* Content formatting */
#contentsct{
    position: relative;
    z-index: 1;
    font-size: var(--motorem);
}

#cenln{
    top:0%;
    width: 4%;
    height: 100%;
    background-color: rgb(33, 33, 41);
    border: 0.625em solid rgb(36, 130, 98);
    margin: 0 auto;
    z-index: 2;
}

#leftsct{
    float: left;
    height: 100%;
    /* left:-6%; */
    background-color: whitesmoke;
    text-align: center;
}

#leftsct #moto{
    font-family: 'Times New Roman', Times, serif;
    font-size: var(--motofontsz);
    padding: 5%;
    white-space: pre-line;
    text-shadow: 0.2em 0.15em 0.08em rgb(33, 33, 41);
    color: rgb(36, 130, 98);
}

#rightsct{
    float: right;
    height: 100%;
    text-align: center;   
}

#rightsct img{
    width: auto;
    max-width: 100%;
    height: 100%;
    /* display: flex; */
    margin: 0 auto;
}

#quoteSct {
    position: relative;
    font-size: var(--quoteSctfontsz);
    /* height: 100%; */
    background-color: rgb(33, 33, 41);
    border: 1rem solid rgb(36, 130, 98);
    width:100%;
}

#triangle{
    position: absolute;
    z-index: 3;
    left:0%;
    transform: translateY(-23%);

}   

#quoteCont{
    position: relative;
    top:0rem;
    text-align: center;
    z-index: 4;
}


#quoteCont blockquote{
    text-align: center;
    margin:2rem;
}

#quoteCont blockquote p{
    font-size: 1.7em;
    color:whitesmoke;
    /* font-size: 180%; */
    display: inline-block;
}

#quoteCont blockquote cite{
    font-size: 1em;
    color:whitesmoke;
    font-size: 150%;
    display: block;
}

#quoteCont blockquote cite::before{
    content:'-'
}

#quoteCont blockquote cite::after{
    content:'-'
}

#secondsct{
    margin-top: 5%;
    z-index: 2;
    position: relative;
    font-size: var(--pagecontsctfontsz);
}

#secondsct #primtitle{
    position: relative;
    top: 25%;
    text-align: center;
}

#secondsct #pageconts{
    position: relative;
    top:30%; 
    align-items: center;
    justify-content: space-evenly;
    
}

#secondsct #pageconts div{
    font-size: 0.33em;
    background-color: rgb(33, 33, 41);
    text-align: center;
    border: 0.125rem solid rgba(36, 130, 98, 1);
    display: inline-block;
}

#secondsct #pageconts #title{
    position: relative;
    color: whitesmoke;
    font-size: 2rem;
}


#secondsct #pageconts div p{
    position: relative;
    text-align: left;
    color: whitesmoke;
    font-size: 1.125rem;
    padding: 2.3125rem;
    line-height: 1.5;
}




