@import url(GenericElements.css);

/* .primary{} */

.vidintro{
    position: relative;
    width: 94%;
    left: 6%;
    text-align: center;
    border:0.125rem solid whitesmoke;
    
}

.vidintro #primtitle{
    position: relative;
    margin: 15% 0 15% 0;
}

/* Content formatting */
.contentsct{
    position: relative;
    /* display: block; */
    /* padding-bottom: 100px; */
    width: 94%;
    left: 6%;
    height: 46.875rem;
    z-index: 1;
    margin-bottom: 10rem;
}


.cenln{
    position: absolute;
    top:0%;
    width: 4%;
    height: 100%;
    background-color: rgb(33, 33, 41);
    border: 0.625rem solid rgb(36, 130, 98);
    margin: 0 auto;
    left:50%;
    -ms-transform: translateX(-50%); 
    transform: translateX(-50%);
    z-index: 2;
    /* padding: 0.0625rem; */
}

.leftsct{
    float: left;
    top:0%;
    width: 48%;
    height: 100%;
    background-color: whitesmoke;
}
.leftsct #moto{
    font-family: 'Times New Roman', Times, serif;
    font-size: 600%;
    white-space: pre-line;
    text-align: center;
    text-shadow: 1.875rem 1.3125rem 0.625rem rgb(33, 33, 41);
    color: rgb(36, 130, 98);
}

.rightsct{
    float: right;
    width: 48%;
    height: 100%;
    /* left: 50rem; */
    text-align: center;   
}

.rightsct img{
    width: auto;
    height: 100%;
    /* display: flex; */
    margin: 0 auto;
}

#triangle{
    position: relative;
    /* top:40rem; */
    transform: translateY(-23%);
    z-index: 3;
}

#quoteCont{
    position: absolute;
    top:100%;
    width: 100%;
    /* display: block; */
    text-align: center;
    z-index: 4;
}


#quoteCont blockquote{
    text-align: center;
    margin:2rem;
}

#quoteCont blockquote p{
    color:whitesmoke;
    font-size: 180%;
    display: inline-block;
}

#quoteCont blockquote cite{
    color:whitesmoke;
    font-size: 150%;
    display: block;
}

#quoteCont blockquote cite::before{
    content:'-'
}

#quoteCont blockquote cite::after{
    content:'-'
}

.secondsct{
    z-index: 2;
    position: relative;
    left: 6%;
    width: 94%;
    height: 60rem;
    margin-bottom: 3.125rem;
}

.secondsct #primtitle{
    position: relative;
    top: 25%;
    text-align: center;
}

.secondsct #pageconts{
    position: relative;
    height: 21.875rem;
    top:30%; 
    align-items: center;
    justify-content: space-evenly;
    
}

.secondsct #pageconts div{
    background-color: rgb(33, 33, 41);
    margin: 1.5%;
    text-align: center;
    border: 0.125rem solid rgba(36, 130, 98, 1);
    width: 30%;
    display: inline-block;
}

.secondsct #pageconts #title{
    position: relative;
    color: whitesmoke;
    font-size: 2rem;
}


.secondsct #pageconts div p{
    position: relative;
    text-align: left;
    color: whitesmoke;
    font-size: 1.125rem;
    padding: 2.3125rem;
    line-height: 1.5;
}




