@import url(GenericElements.css);

#contentSct{
    position: relative;
    width: 94rem;
    left: 6rem; 
}

#contentSct #title{
    text-align: center;
}

#contentSct #title h1{
    padding:6.25rem 0 6.25rem 0;
    font-size: 5.625rem;
}

#contentSct #subTitle{
    background-color: rgb(33, 33, 41);
    display: flex;
    align-items:center;
    justify-content:center;
}

#contentSct #subTitle h3{
    margin: 0 5% 0 5%;
    font-size: 3.125rem;
    width:50%;
}

#contentSct #subTitle img{
    position: relative;
    max-width: 30%;
    width:auto;
    height:90%;
    margin: 3%;
    display: inline-block;
}



#contentSct #projectGrid{
    display: grid;
    width: 100%;
    aspect-ratio:1/1;
    grid-template-areas: 
        'topLeft topRight'
        'centerFocus centerFocus'
        'bottomLeft bottomRight';
    grid-template-columns: 45% 45%;
    grid-template-rows: 65% 60% 65%;
    text-align: center;
    justify-content: space-evenly;
}


#contentSct #projectGrid [id*=item]{
    background-color: rgb(33, 33, 41);
    border: 0.15rem solid rgba(36, 130, 98, 1);
}

#contentSct #projectGrid div h1{
    font-size: 2rem;
    text-decoration: underline;
}

#contentSct #projectGrid div .desc p{
    margin:2%;
    color:whitesmoke;
    font-size: 1.5rem;
}

#item1{
    grid-area: topLeft;
    margin: 5% 0 5% 0;
}
#item2{
    grid-area: topRight;
    margin: 5% 0 5% 0;
}

#item2 .skills{
    list-style: none;
    /* list-style-image: url(Images\CSSCert.jpg); */
    margin: 5%;
}

#item2 .skills li{
    display: inline-block;
    width: 7rem;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    margin:5%;

}

#item2 .skills li a{
    text-decoration: underline;
    color: whitesmoke;
}

#item2 .skills li img{
    width:7rem;
    height: auto;

}

#images{
    
    grid-area: centerFocus;
    width: 50%;
    margin: 5% 25% 5% 25%;
}

#item3{
    grid-area: bottomLeft;
    margin: 5% 0 5% 0;
}

#item3 .samples ul li{
    display: inline-block;
    width: 40%;
    margin: 2%;
    justify-content: space-around;
    align-items: center;
    vertical-align: top;
    
}

#item3 .samples ul li a h3{
    font-size: 1.5rem;
    color: rgb(36, 130, 98);
    text-decoration: underline;
}

#item3 .samples ul li a img{
    width: 100%;
    height:auto;
    background-color: whitesmoke;
}

#item3 .samples ul li p{
    width: 100%;
    height: auto;
    color: whitesmoke;
    font-size: 1.35rem;
}
/* #item3 .samples ul li button img{
    width:100%;
    height:auto;
}

#item3 .samples ul li iframe{
    visibility: hidden;
} */

#item4{
    grid-area: bottomRight;
    margin: 5% 0 5% 0;
}



/* #contentSct #projectGrid div p{

} */

footer{
    position: relative;
    width: 94%;
    left:6%;
    aspect-ratio:5/1;
    height: auto;
    background-color: rgb(33, 33, 41);
    text-align: center;
}

footer #logo{
    position: absolute;
    color: whitesmoke;
    left:50%;
    -ms-transform: translateX(-50%); 
    transform: translateX(-50%);
    top: 1.25rem;
}

footer .fa{
    position: absolute;
    font-size: 2.5rem;
    color: rgb(36, 130, 98);
    top: 40%;
} 

footer .fa-instagram{
    left: 20%
}

footer .fa-linkedin{
    left: 25%
}

footer #contact{
    position: absolute;
    width: 20%;
    left: 65%;
    top: 40%;
    font-size: 1.13rem;
}

footer #contact a{
    color:rgb(36, 130, 98);
}