@import url(../../GenericElements.css);

:root {
    --primaryfontsz: 1rem;
    --projectsPortfoliofontsz: 0.95rem;
}

@media only screen and (max-width: 1024px) {
    
    #primary {
        font-size: calc(var(--primaryfontsz) * 1.5);
    }
    #subTitle {
        flex-direction: column;
    }
    #primary #projectGrid{
        display: block;
        text-align: center;
    }
}

@media  screen and (min-width: 1024px) {
    #primary #projectGrid{
        display: grid;
    }
}

#primary{
    font-size: var(--titlefontsz);
}

#primary #title{
    text-align: center;
    font-size: 4em;
    padding:6.25rem 5% 6.25rem 5%;
}

#primary #subTitle{
    background-color: rgb(33, 33, 41);
    display: flex;
    align-items:center;
    flex-direction: row;
    justify-content:center;
    font-size: var(--primaryfontsz);
}

#primary #subTitle h3{
    font-size: 2em;
}

#profile {
    text-align: right;
}

#primary #subTitle img{
    position: relative;
    max-width: 70%;
    width:auto;
    height:90%;
    display: inline-block;
}

/* Portfolio part */

#primary #projectsPortfolio {
    position: relative;
    font-size: var(--projectsPortfoliofontsz);
    width: 100%;
    height: auto;
    padding: 4em;
}

.arrow-up-with-stem {
    position: absolute;
    width: 1em;
    height: 97%;
    background: rgb(36, 130, 98);
    z-index: 0;
    left: 50%;
    transform: translateX(-50%);
}

.arrow-up-with-stem:after {
    content: '';
    position: absolute;
    top: -1.9em;
    left: -0.5em;
    width: 0;
    height: 0;
    z-index: 0;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-bottom: 2em solid rgb(36, 130, 98);
}

/* General formatting for the projects stack */
.projectDesc {
    /* Split the container into description and image columns */
    position: relative;
    width: 70%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto 1fr;
    /* place-items: center; */
    /* align-content: center;
    justify-content: center; */
    z-index: 1;
    gap: 1em;
    padding: 0.5em;
    margin: 4em 0;
}

.projectDesc > a {
    font-size: 2em;
    color: rgb(36, 130, 98);
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    transition: color 0.03s ease;
    align-self: center;
}

.projectDesc > a:hover {
    color: rgb(45, 160, 120); /* Lighter shade of your green */
    text-decoration: underline;
    font-weight: normal; /* Ensures no bold on hover */
}

.projectDesc h2 {
    font-size: 1em;
    align-self: center;
    justify-self: center;
}

.rightSide {
    left: 30%; /* This will need to be turned into a variable for responsive design */
    background-color: rgb(129, 125, 125);
    border: 0.75em solid rgb(36, 130, 98);
}

.rightSide ul {
    color: rgb(33, 33, 41);
}

.rightSide h2 {
    color: rgb(33, 33, 41);
}

.leftSide {
    background-color: rgb(33, 33, 41);
    border: 0.75em solid rgb(36, 130, 98);
}

.leftSide ul {
    color: whitesmoke;
}

.leftSide h2 {
    color: whitesmoke;
}

.descCol {
    height: 100%;
}

.projectDesc ul {
    list-style-type: disc;
    padding-left: 1.5em;
    margin-left: 0.5em;
}

.projectDesc .iconGrid {
    display: grid;
    padding: 1em;
    align-self: center;
    place-items: center; 
    justify-content: center;
    justify-self: center;
    height: fit-content;
}

.iconGrid img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Networks research formatting */
/* #CommsResearch .imgCol {

} */

#CommsResearch .iconGrid {
    display: grid;
    width: 80%;
    grid-template-rows: 40% 50%;
    justify-content: center;
}

#QuantumAlg .iconGrid {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50% 50%;
    justify-content: center;
}

#CellularAut .iconGrid {
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    max-width: 100%;
}

#AutoWeed .iconGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-content: center;
    gap: 0.5em;
}

#SciComp .iconGrid {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50% 50%;
    justify-content: center;
}

#NasServer .iconGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
}

#NasServer .bash {
    grid-column: 1 / -1;
    grid-row: 2;
}

#IotData .iconGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-content: center;
}

#AgEmbedded .iconGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-content: center;
}

#Printer3D .iconGrid {
    display: grid;
    width: 75%;
    grid-template-rows: 50% 50%;
    justify-content: center;
}

#Website .iconGrid {
    display: grid;
    grid-template-columns: 56% 44%;
    grid-template-rows: 50% 50%;
    justify-content: center;
}

#Game .iconGrid {
    display: grid;
    width: 80%;
    grid-template-rows: 56% 34%;
    justify-content: center;
}

#RCPlanes .iconGrid {
    display: grid;
    width: 70%;
    grid-template-rows: 56% 34%;
    justify-content: center;
}

#information {
    position: relative;
    z-index: 2;
}

